<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterControl</filter-name>
        <filter-class>Filter.FilterControl</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterControl</filter-name>
        <url-pattern>/EditProduct</url-pattern>
        <url-pattern>/EditUser</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>HomeControl</servlet-name>
        <servlet-class>Controllers.HomeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreControl</servlet-name>
        <servlet-class>Controllers.StoreControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartControl</servlet-name>
        <servlet-class>Controllers.CartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>Controllers.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterControl</servlet-name>
        <servlet-class>Controllers.RegisterControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductControl</servlet-name>
        <servlet-class>Controllers.ProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProduct</servlet-name>
        <servlet-class>Controllers.EditProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUser</servlet-name>
        <servlet-class>Controllers.EditUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchControl</servlet-name>
        <servlet-class>Controllers.SearchControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterProductCate</servlet-name>
        <servlet-class>Controllers.FilterProductCate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterProductBrand</servlet-name>
        <servlet-class>Controllers.FilterProductBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutControl</servlet-name>
        <servlet-class>Controllers.LogoutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCart</servlet-name>
        <servlet-class>Controllers.EditCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutControl</servlet-name>
        <servlet-class>Controllers.CheckoutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>Controllers.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyControl</servlet-name>
        <servlet-class>Controllers.VerifyControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPass</servlet-name>
        <servlet-class>Controllers.ForgetPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePass</servlet-name>
        <servlet-class>Controllers.ChangePass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPass</servlet-name>
        <servlet-class>Controllers.EditPass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeControl</servlet-name>
        <url-pattern>/HomeControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreControl</servlet-name>
        <url-pattern>/StoreControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartControl</servlet-name>
        <url-pattern>/CartControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/LoginControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterControl</servlet-name>
        <url-pattern>/RegisterControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductControl</servlet-name>
        <url-pattern>/ProductControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProduct</servlet-name>
        <url-pattern>/EditProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUser</servlet-name>
        <url-pattern>/EditUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchControl</servlet-name>
        <url-pattern>/SearchControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterProductCate</servlet-name>
        <url-pattern>/FilterProductCate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterProductBrand</servlet-name>
        <url-pattern>/FilterProductBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutControl</servlet-name>
        <url-pattern>/LogoutControl</url-pattern>
    </servlet-mapping>
    <!--    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>-->
    <servlet-mapping>
        <servlet-name>EditCart</servlet-name>
        <url-pattern>/EditCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutControl</servlet-name>
        <url-pattern>/CheckoutControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyControl</servlet-name>
        <url-pattern>/VerifyControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPass</servlet-name>
        <url-pattern>/ForgetPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePass</servlet-name>
        <url-pattern>/ChangePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPass</servlet-name>
        <url-pattern>/EditPass</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>HomeControl</welcome-file>
    </welcome-file-list>
    id="WebApp_ID" version="3.0"&gt;
    <display-name>EmailSendingWebApp</display-name>
</web-app>
